@import '../../css/variables.scss';

.item-card {
  position: relative;
  padding-top: 45px;

  .item-card__wrap {
    position: relative;
    width: 320px;
    min-height: 435px;
    padding: 18px 47px;
    border: 4px solid #1698d9;
    border-top: none;
    border-radius:  0 0 12px 12px;
    background: #f2f2f2;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: -45px;
      right: -4px;
      width: 275px;
      height: 46px;
      border-top: 4px solid  #1698d9;
      border-right: 4px solid  #1698d9;
      border-radius: 0 12px 0 0;
      background-color: #f2f2f2;
      z-index: 1;
    }
  
    &::after {
      content: '';
      position: absolute;
      top: -43px;
      left: 0px;
      border: 22px solid transparent; 
      border-right: 22px solid #f2f2f2; 
      border-bottom: 22px solid #f2f2f2;
      z-index: 0;
    }
   
    .item-card__element  {
      content: '';
      position: absolute;
      top: -22.8px;
      left: -12px;
      width: 64px;
      height: 4px;
      background-color: #1698d9;
      transform: rotate(-45deg);
      z-index: 100;
    }
  }

  .item-card__content { 
    position: relative; 
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin-top: -41px;
    word-wrap: break-word;
    z-index: 1000;
  }

  .item-card__sub-title {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 119%;
    color: #666666;
  }

  .item-card__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #000000;
  }

  .item-card__stuffing {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #000000;
  }
  
  .item-card__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #666666;
  }
  .item-card__count {
    font-weight: 700;
  }

  .item-card__gift--two {
    display: block;
  }

  .item-card__weight {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1698D9; 
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    z-index: 1000;

    .item-card__value {
      font-size: 42px;
      line-height: 1;
      color: #FFFFFF;
    }

    .item-card__kg {
      font-size: 20px;
    }
  }

  .item-card__description {
    max-width: 320px;
    margin-top: 14px;
    font-size: 13px;
    line-height: 115%;
    text-align: center;
    color: #FFFFFF; 

    .item-card__link {
      font: inherit;
      color: #1698D9;
      text-decoration: dashed underline;
      cursor: pointer;
    }
  }

  .item-card__image {
    position: absolute;
    bottom: -2.5px;
    left: 0;
    z-index: 10;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 267px; 
    }
  }

  &--default {
    .item-card__wrap,
    .item-card__wrap::before {
      border-color: #B3B3B3;
    }

    .item-card__wrap .item-card__element {
      background-color: #B3B3B3;
    }

    .item-card__sub-title,
    .item-card__title,
    .item-card__stuffing,
    .item-card__info {
      color: #B3B3B3;
    }

    .item-card__weight {
      background-color: #B3B3B3;
    }

    .item-card__description {
      color: #FFFF66;
    }

    .item-card__image img {
      opacity: 0.5;
    }
  }

  &--active {
    .item-card__wrap,
    .item-card__wrap::before {
      border-color: #D91667;
    }

    .item-card__wrap .item-card__element {
      background-color: #D91667;
    }

    .item-card__weight {
      background-color: #D91667;
    }
  }
}
