@import '../../css/variables.scss';

.card__list {
  display: flex;
  column-gap: 80px;

  @media (max-width: $xl-width) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }

  @media (max-width: $md-width) {
    flex-direction: column;
    row-gap: 30px;
  }
}
