@import '../../css/variables.scss';

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 80px;
  row-gap: 30px;

  @media (max-width: $md-width) {
    flex-direction: column;
    row-gap: 30px;
  }
}
